In [2]:
import csv
import pandas as pd
import numpy as np
import datetime

In [3]:
df = pd.read_csv(r'districts.csv',parse_dates = ['Date'])

In [4]:
df = pd.DataFrame(df,columns = ['Date', 'State', 'District', 'Confirmed', 'Recovered', 'Deceased','Other', 'Tested'])

In [5]:
df

,Date,State,District,Confirmed,Recovered,Deceased,Other,Tested
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,11,0,0,NaN
1,2020-04-26,Andhra Pradesh,Anantapur,53,14,4,0,NaN
2,2020-04-26,Andhra Pradesh,Chittoor,73,13,0,0,NaN
3,2020-04-26,Andhra Pradesh,East Godavari,39,12,0,0,NaN
4,2020-04-26,Andhra Pradesh,Guntur,214,29,8,0,NaN
...,...,...,...,...,...,...,...,...
321059,2021-09-04,West Bengal,Purba Bardhaman,40647,40206,187,0,NaN
321060,2021-09-04,West Bengal,Purba Medinipur,61772,60865,382,0,NaN
321061,2021-09-04,West Bengal,Purulia,19290,19126,113,0,NaN
321062,2021-09-04,West Bengal,South 24 Parganas,97821,95880,1288,0,NaN
321063,2021-09-04,West Bengal,Uttar Dinajpur,19628,19318,235,0,NaN

In [6]:
df['District'].unique().shape

(643,)

In [7]:
# Dropping dates greater than or equal to 15th August 2021
drop_indices = df[df['Date'] >= '2021-08-15'].index
df.drop(drop_indices, inplace = True)
df.shape

(307246, 8)

In [8]:
# State to state code mapping dictionary
state_change=[['Andaman and Nicobar Islands', 'AN'],[ 'Andhra Pradesh',  'AP'],[ 'Arunachal Pradesh', 'AR'],[ 'Assam',  'AS'],[ 'Bihar',  'BH'],
 [ 'Chandigarh' ,'CH'],[ 'Chhattisgarh' , 'CT'], ['Dadra and Nagar Haveli and Daman and Diu',  'DN'],
  ['Delhi',  'DL'], ['Goa',  'GA'], ['Gujarat',  'GJ'], ['Haryana',  'HR'],[ 'Himachal Pradesh',  'HP'],
  ['Jammu and Kashmir',  'JK'],[ 'Jharkhand',  'JH'],[ 'Karnataka',  'KA'],[ 'Kerala',  'KL'],['Ladakh','LA'],
              [ 'Lakshadweep', 'LD'],
 [ 'Madhya Pradesh',  'MP'],[ 'Maharashtra',  'MH'],['Manipur',  'MN'],[ 'Meghalaya','ME'],[ 'Mizoram',  'MI'],
 ['Nagaland',  'NL'],[ 'Odisha',  'OR'],[ 'Puducherry',  'PY'],[ 'Punjab',  'PB'],['Rajasthan',  'RJ'],
 ['Sikkim',  'SK'],['Tamil Nadu', 'TN'],['Telangana',  'TS'],['Tripura','TR'],['Uttar Pradesh',  'UP'],
 ['Uttarakhand',  'UT'],['West Bengal',  'WB']]

In [9]:
# Generating state codes with the help of above dictionary
df['state_code'] = [j[1] for i in df['State'] for j in state_change if i==j[0] ]

In [10]:
df.head()

,Date,State,District,Confirmed,Recovered,Deceased,Other,Tested,state_code
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,11,0,0,NaN,AN
1,2020-04-26,Andhra Pradesh,Anantapur,53,14,4,0,NaN,AP
2,2020-04-26,Andhra Pradesh,Chittoor,73,13,0,0,NaN,AP
3,2020-04-26,Andhra Pradesh,East Godavari,39,12,0,0,NaN,AP
4,2020-04-26,Andhra Pradesh,Guntur,214,29,8,0,NaN,AP

In [11]:
# district id as statecode plus district name
df['district_id'] = df['state_code']+'_'+df['District']

In [12]:
df.head()

,Date,State,District,Confirmed,Recovered,Deceased,Other,Tested,state_code,district_id
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,11,0,0,NaN,AN,AN_Unknown
1,2020-04-26,Andhra Pradesh,Anantapur,53,14,4,0,NaN,AP,AP_Anantapur
2,2020-04-26,Andhra Pradesh,Chittoor,73,13,0,0,NaN,AP,AP_Chittoor
3,2020-04-26,Andhra Pradesh,East Godavari,39,12,0,0,NaN,AP,AP_East Godavari
4,2020-04-26,Andhra Pradesh,Guntur,214,29,8,0,NaN,AP,AP_Guntur

In [13]:
s_list = list(df['district_id'].unique())

In [14]:
s_list.sort()

In [15]:
s_list # unique districts

['AN_Unknown',
 'AP_Anantapur',
 'AP_Chittoor',
 'AP_East Godavari',
 'AP_Foreign Evacuees',
 'AP_Guntur',
 'AP_Krishna',
 'AP_Kurnool',
 'AP_Other State',
 'AP_Prakasam',
 'AP_S.P.S. Nellore',
 'AP_Srikakulam',
 'AP_Unknown',
 'AP_Visakhapatnam',
 'AP_Vizianagaram',
 'AP_West Godavari',
 'AP_Y.S.R. Kadapa',
 'AR_Anjaw',
 'AR_Capital Complex',
 'AR_Changlang',
 'AR_East Kameng',
 'AR_East Siang',
 'AR_Kamle',
 'AR_Kra Daadi',
 'AR_Kurung Kumey',
 'AR_Lepa Rada',
 'AR_Lohit',
 'AR_Longding',
 'AR_Lower Dibang Valley',
 'AR_Lower Siang',
 'AR_Lower Subansiri',
 'AR_Namsai',
 'AR_Pakke Kessang',
 'AR_Papum Pare',
 'AR_Shi Yomi',
 'AR_Siang',
 'AR_Tawang',
 'AR_Tirap',
 'AR_Upper Dibang Valley',
 'AR_Upper Siang',
 'AR_Upper Subansiri',
 'AR_West Kameng',
 'AR_West Siang',
 'AS_Dibrugarh',
 'AS_Udalguri',
 'AS_Unknown',
 'BH_Araria',
 'BH_Arwal',
 'BH_Aurangabad',
 'BH_Banka',
 'BH_Begusarai',
 'BH_Bhagalpur',
 'BH_Bhojpur',
 'BH_Buxar',
 'BH_Darbhanga',
 'BH_East Champaran',
 'BH_Gaya',
 'BH_Gopalganj',
 'BH_Jamui',
 'BH_Jehanabad',
 'BH_Kaimur',
 'BH_Katihar',
 'BH_Khagaria',
 'BH_Kishanganj',
 'BH_Lakhisarai',
 'BH_Madhepura',
 'BH_Madhubani',
 'BH_Munger',
 'BH_Muzaffarpur',
 'BH_Nalanda',
 'BH_Nawada',
 'BH_Other State',
 'BH_Patna',
 'BH_Purnia',
 'BH_Rohtas',
 'BH_Saharsa',
 'BH_Samastipur',
 'BH_Saran',
 'BH_Sheikhpura',
 'BH_Sheohar',
 'BH_Sitamarhi',
 'BH_Siwan',
 'BH_Supaul',
 'BH_Unknown',
 'BH_Vaishali',
 'BH_West Champaran',
 'CH_Chandigarh',
 'CT_Balod',
 'CT_Baloda Bazar',
 'CT_Balrampur',
 'CT_Bametara',
 'CT_Bastar',
 'CT_Bijapur',
 'CT_Bilaspur',
 'CT_Dakshin Bastar Dantewada',
 'CT_Dhamtari',
 'CT_Durg',
 'CT_Gariaband',
 'CT_Gaurela Pendra Marwahi',
 'CT_Janjgir Champa',
 'CT_Jashpur',
 'CT_Kabeerdham',
 'CT_Kondagaon',
 'CT_Korba',
 'CT_Koriya',
 'CT_Mahasamund',
 'CT_Mungeli',
 'CT_Narayanpur',
 'CT_Other State',
 'CT_Raigarh',
 'CT_Raipur',
 'CT_Rajnandgaon',
 'CT_Sukma',
 'CT_Surajpur',
 'CT_Surguja',
 'CT_Unknown',
 'CT_Uttar Bastar Kanker',
 'DL_Delhi',
 'DN_Dadra and Nagar Haveli',
 'DN_Daman',
 'DN_Diu',
 'GA_Unknown',
 'GJ_Ahmedabad',
 'GJ_Amreli',
 'GJ_Anand',
 'GJ_Aravalli',
 'GJ_Banaskantha',
 'GJ_Bharuch',
 'GJ_Bhavnagar',
 'GJ_Botad',
 'GJ_Chhota Udaipur',
 'GJ_Dahod',
 'GJ_Dang',
 'GJ_Devbhumi Dwarka',
 'GJ_Gandhinagar',
 'GJ_Gir Somnath',
 'GJ_Jamnagar',
 'GJ_Junagadh',
 'GJ_Kheda',
 'GJ_Kutch',
 'GJ_Mahisagar',
 'GJ_Mehsana',
 'GJ_Morbi',
 'GJ_Narmada',
 'GJ_Navsari',
 'GJ_Other State',
 'GJ_Panchmahal',
 'GJ_Patan',
 'GJ_Porbandar',
 'GJ_Rajkot',
 'GJ_Sabarkantha',
 'GJ_Surat',
 'GJ_Surendranagar',
 'GJ_Tapi',
 'GJ_Vadodara',
 'GJ_Valsad',
 'HP_Bilaspur',
 'HP_Chamba',
 'HP_Hamirpur',
 'HP_Kangra',
 'HP_Kinnaur',
 'HP_Kullu',
 'HP_Lahaul and Spiti',
 'HP_Mandi',
 'HP_Shimla',
 'HP_Sirmaur',
 'HP_Solan',
 'HP_Una',
 'HR_Ambala',
 'HR_Bhiwani',
 'HR_Charkhi Dadri',
 'HR_Faridabad',
 'HR_Fatehabad',
 'HR_Foreign Evacuees',
 'HR_Gurugram',
 'HR_Hisar',
 'HR_Italians',
 'HR_Jhajjar',
 'HR_Jind',
 'HR_Kaithal',
 'HR_Karnal',
 'HR_Kurukshetra',
 'HR_Mahendragarh',
 'HR_Nuh',
 'HR_Palwal',
 'HR_Panchkula',
 'HR_Panipat',
 'HR_Rewari',
 'HR_Rohtak',
 'HR_Sirsa',
 'HR_Sonipat',
 'HR_Unknown',
 'HR_Yamunanagar',
 'JH_Bokaro',
 'JH_Chatra',
 'JH_Deoghar',
 'JH_Dhanbad',
 'JH_Dumka',
 'JH_East Singhbhum',
 'JH_Garhwa',
 'JH_Giridih',
 'JH_Godda',
 'JH_Gumla',
 'JH_Hazaribagh',
 'JH_Jamtara',
 'JH_Khunti',
 'JH_Koderma',
 'JH_Latehar',
 'JH_Lohardaga',
 'JH_Pakur',
 'JH_Palamu',
 'JH_Ramgarh',
 'JH_Ranchi',
 'JH_Sahibganj',
 'JH_Saraikela-Kharsawan',
 'JH_Simdega',
 'JH_Unknown',
 'JH_West Singhbhum',
 'JK_Anantnag',
 'JK_Bandipora',
 'JK_Baramulla',
 'JK_Budgam',
 'JK_Doda',
 'JK_Ganderbal',
 'JK_Jammu',
 'JK_Kathua',
 'JK_Kishtwar',
 'JK_Kulgam',
 'JK_Kupwara',
 'JK_Pulwama',
 'JK_Punch',
 'JK_Rajouri',
 'JK_Ramban',
 'JK_Reasi',
 'JK_Samba',
 'JK_Shopiyan',
 'JK_Srinagar',
 'JK_Udhampur',
 'KA_Bagalkote',
 'KA_Ballari',
 'KA_Belagavi',
 'KA_Bengaluru Rural',
 'KA_Bengaluru Urban',
 'KA_Bidar',
 'KA_Chamarajanagara',
 'KA_Chikkaballapura',
 'KA_Chikkamagaluru',
 'KA_Chitradurga',
 'KA_Dakshina Kannada',
 'KA_Davanagere',
 'KA_Dharwad',
 'KA_Gadag',
 'KA_Hassan',
 'KA_Haveri',
 'KA_Kalaburagi',
 'KA_Kodagu',
 'KA_Kolar',
 'KA_Koppal',
 'KA_Mandya',
 'KA_Mysuru',
 'KA_Other State',
 'KA_Raichur',
 'KA_Ramanagara',
 'KA_Shivamogga',
 'KA_Tumakuru',
 'KA_Udupi',
 'KA_Uttara Kannada',
 'KA_Vijayapura',
 'KA_Yadgir',
 'KL_Alappuzha',
 'KL_Ernakulam',
 'KL_Idukki',
 'KL_Kannur',
 'KL_Kasaragod',
 'KL_Kollam',
 'KL_Kottayam',
 'KL_Kozhikode',
 'KL_Malappuram',
 'KL_Palakkad',
 'KL_Pathanamthitta',
 'KL_Thiruvananthapuram',
 'KL_Thrissur',
 'KL_Unknown',
 'KL_Wayanad',
 'LA_Kargil',
 'LA_Leh',
 'LD_Lakshadweep',
 'ME_East Garo Hills',
 'ME_East Jaintia Hills',
 'ME_East Khasi Hills',
 'ME_North Garo Hills',
 'ME_Ribhoi',
 'ME_South Garo Hills',
 'ME_South West Garo Hills',
 'ME_South West Khasi Hills',
 'ME_Unknown',
 'ME_West Garo Hills',
 'ME_West Jaintia Hills',
 'ME_West Khasi Hills',
 'MH_Ahmednagar',
 'MH_Akola',
 'MH_Amravati',
 'MH_Aurangabad',
 'MH_Beed',
 'MH_Bhandara',
 'MH_Buldhana',
 'MH_Chandrapur',
 'MH_Dhule',
 'MH_Gadchiroli',
 'MH_Gondia',
 'MH_Hingoli',
 'MH_Jalgaon',
 'MH_Jalna',
 'MH_Kolhapur',
 'MH_Latur',
 'MH_Mumbai',
 'MH_Nagpur',
 'MH_Nanded',
 'MH_Nandurbar',
 'MH_Nashik',
 'MH_Osmanabad',
 'MH_Other State',
 'MH_Palghar',
 'MH_Parbhani',
 'MH_Pune',
 'MH_Raigad',
 'MH_Ratnagiri',
 'MH_Sangli',
 'MH_Satara',
 'MH_Sindhudurg',
 'MH_Solapur',
 'MH_Thane',
 'MH_Unknown',
 'MH_Wardha',
 'MH_Washim',
 'MH_Yavatmal',
 'MI_Aizawl',
 'MI_Champhai',
 'MI_Hnahthial',
 'MI_Khawzawl',
 'MI_Kolasib',
 'MI_Lawngtlai',
 'MI_Lunglei',
 'MI_Mamit',
 'MI_Saiha',
 'MI_Saitual',
 'MI_Serchhip',
 'MI_Unknown',
 'MN_Churachandpur',
 'MN_Unknown',
 'MP_Agar Malwa',
 'MP_Alirajpur',
 'MP_Anuppur',
 'MP_Ashoknagar',
 'MP_Balaghat',
 'MP_Barwani',
 'MP_Betul',
 'MP_Bhind',
 'MP_Bhopal',
 'MP_Burhanpur',
 'MP_Chhatarpur',
 'MP_Chhindwara',
 'MP_Damoh',
 'MP_Datia',
 'MP_Dewas',
 'MP_Dhar',
 'MP_Dindori',
 'MP_Guna',
 'MP_Gwalior',
 'MP_Harda',
 'MP_Hoshangabad',
 'MP_Indore',
 'MP_Jabalpur',
 'MP_Jhabua',
 'MP_Katni',
 'MP_Khandwa',
 'MP_Khargone',
 'MP_Mandla',
 'MP_Mandsaur',
 'MP_Morena',
 'MP_Narsinghpur',
 'MP_Neemuch',
 'MP_Niwari',
 'MP_Other Region',
 'MP_Panna',
 'MP_Raisen',
 'MP_Rajgarh',
 'MP_Ratlam',
 'MP_Rewa',
 'MP_Sagar',
 'MP_Satna',
 'MP_Sehore',
 'MP_Seoni',
 'MP_Shahdol',
 'MP_Shajapur',
 'MP_Sheopur',
 'MP_Shivpuri',
 'MP_Sidhi',
 'MP_Singrauli',
 'MP_Tikamgarh',
 'MP_Ujjain',
 'MP_Umaria',
 'MP_Unknown',
 'MP_Vidisha',
 'NL_Dimapur',
 'NL_Kiphire',
 'NL_Kohima',
 'NL_Longleng',
 'NL_Mokokchung',
 'NL_Mon',
 'NL_Others',
 'NL_Peren',
 'NL_Phek',
 'NL_Tuensang',
 'NL_Unknown',
 'NL_Wokha',
 'NL_Zunheboto',
 'OR_Angul',
 'OR_Balangir',
 'OR_Balasore',
 'OR_Bargarh',
 'OR_Bhadrak',
 'OR_Boudh',
 'OR_Cuttack',
 'OR_Deogarh',
 'OR_Dhenkanal',
 'OR_Gajapati',
 'OR_Ganjam',
 'OR_Jagatsinghpur',
 'OR_Jajpur',
 'OR_Jharsuguda',
 'OR_Kalahandi',
 'OR_Kandhamal',
 'OR_Kendrapara',
 'OR_Kendujhar',
 'OR_Khordha',
 'OR_Koraput',
 'OR_Malkangiri',
 'OR_Mayurbhanj',
 'OR_Nabarangapur',
 'OR_Nayagarh',
 'OR_Nuapada',
 'OR_Others',
 'OR_Puri',
 'OR_Rayagada',
 'OR_Sambalpur',
 'OR_State Pool',
 'OR_Subarnapur',
 'OR_Sundargarh',
 'PB_Amritsar',
 'PB_Barnala',
 'PB_Bathinda',
 'PB_Faridkot',
 'PB_Fatehgarh Sahib',
 'PB_Fazilka',
 'PB_Ferozepur',
 'PB_Gurdaspur',
 'PB_Hoshiarpur',
 'PB_Jalandhar',
 'PB_Kapurthala',
 'PB_Ludhiana',
 'PB_Mansa',
 'PB_Moga',
 'PB_Pathankot',
 'PB_Patiala',
 'PB_Rupnagar',
 'PB_S.A.S. Nagar',
 'PB_Sangrur',
 'PB_Shahid Bhagat Singh Nagar',
 'PB_Sri Muktsar Sahib',
 'PB_Tarn Taran',
 'PY_Karaikal',
 'PY_Mahe',
 'PY_Puducherry',
 'PY_Unknown',
 'PY_Yanam',
 'RJ_Ajmer',
 'RJ_Alwar',
 'RJ_BSF Camp',
 'RJ_Banswara',
 'RJ_Baran',
 'RJ_Barmer',
 'RJ_Bharatpur',
 'RJ_Bhilwara',
 'RJ_Bikaner',
 'RJ_Bundi',
 'RJ_Chittorgarh',
 'RJ_Churu',
 'RJ_Dausa',
 'RJ_Dholpur',
 'RJ_Dungarpur',
 'RJ_Evacuees',
 'RJ_Ganganagar',
 'RJ_Hanumangarh',
 'RJ_Italians',
 'RJ_Jaipur',
 'RJ_Jaisalmer',
 'RJ_Jalore',
 'RJ_Jhalawar',
 'RJ_Jhunjhunu',
 'RJ_Jodhpur',
 'RJ_Karauli',
 'RJ_Kota',
 'RJ_Nagaur',
 'RJ_Other State',
 'RJ_Pali',
 'RJ_Pratapgarh',
 'RJ_Rajsamand',
 'RJ_Sawai Madhopur',
 'RJ_Sikar',
 'RJ_Sirohi',
 'RJ_Tonk',
 'RJ_Udaipur',
 'SK_Unknown',
 'TN_Airport Quarantine',
 'TN_Ariyalur',
 'TN_Chengalpattu',
 'TN_Chennai',
 'TN_Coimbatore',
 'TN_Cuddalore',
 'TN_Dharmapuri',
 'TN_Dindigul',
 'TN_Erode',
 'TN_Kallakurichi',
 'TN_Kancheepuram',
 'TN_Kanyakumari',
 'TN_Karur',
 'TN_Krishnagiri',
 'TN_Madurai',
 'TN_Mayiladuthurai',
 'TN_Nagapattinam',
 'TN_Namakkal',
 'TN_Nilgiris',
 'TN_Other State',
 'TN_Perambalur',
 'TN_Pudukkottai',
 'TN_Railway Quarantine',
 'TN_Ramanathapuram',
 'TN_Ranipet',
 'TN_Salem',
 'TN_Sivaganga',
 'TN_Tenkasi',
 'TN_Thanjavur',
 'TN_Theni',
 'TN_Thiruvallur',
 'TN_Thiruvarur',
 'TN_Thoothukkudi',
 'TN_Tiruchirappalli',
 'TN_Tirunelveli',
 'TN_Tirupathur',
 'TN_Tiruppur',
 'TN_Tiruvannamalai',
 'TN_Unknown',
 'TN_Vellore',
 'TN_Viluppuram',
 'TN_Virudhunagar',
 'TR_Dhalai',
 'TR_Gomati',
 'TR_Khowai',
 'TR_North Tripura',
 'TR_Sipahijala',
 'TR_South Tripura',
 'TR_Unknown',
 'TR_Unokoti',
 'TR_West Tripura',
 'TS_Unknown',
 'UP_Agra',
 'UP_Aligarh',
 'UP_Ambedkar Nagar',
 'UP_Amethi',
 'UP_Amroha',
 'UP_Auraiya',
 'UP_Ayodhya',
 'UP_Azamgarh',
 'UP_Baghpat',
 'UP_Bahraich',
 'UP_Ballia',
 'UP_Balrampur',
 'UP_Banda',
 'UP_Barabanki',
 'UP_Bareilly',
 'UP_Basti',
 'UP_Bhadohi',
 'UP_Bijnor',
 'UP_Budaun',
 'UP_Bulandshahr',
 'UP_Chandauli',
 'UP_Chitrakoot',
 'UP_Deoria',
 'UP_Etah',
 'UP_Etawah',
 'UP_Farrukhabad',
 'UP_Fatehpur',
 'UP_Firozabad',
 'UP_Gautam Buddha Nagar',
 'UP_Ghaziabad',
 'UP_Ghazipur',
 'UP_Gonda',
 'UP_Gorakhpur',
 'UP_Hamirpur',
 'UP_Hapur',
 'UP_Hardoi',
 'UP_Hathras',
 'UP_Jalaun',
 'UP_Jaunpur',
 'UP_Jhansi',
 'UP_Kannauj',
 'UP_Kanpur Dehat',
 'UP_Kanpur Nagar',
 'UP_Kasganj',
 'UP_Kaushambi',
 'UP_Kushinagar',
 'UP_Lakhimpur Kheri',
 'UP_Lalitpur',
 'UP_Lucknow',
 'UP_Maharajganj',
 'UP_Mahoba',
 'UP_Mainpuri',
 'UP_Mathura',
 'UP_Mau',
 'UP_Meerut',
 'UP_Mirzapur',
 'UP_Moradabad',
 'UP_Muzaffarnagar',
 'UP_Pilibhit',
 'UP_Pratapgarh',
 'UP_Prayagraj',
 'UP_Rae Bareli',
 'UP_Rampur',
 'UP_Saharanpur',
 'UP_Sambhal',
 'UP_Sant Kabir Nagar',
 'UP_Shahjahanpur',
 'UP_Shamli',
 'UP_Shrawasti',
 'UP_Siddharthnagar',
 'UP_Sitapur',
 'UP_Sonbhadra',
 'UP_Sultanpur',
 'UP_Unnao',
 'UP_Varanasi',
 'UT_Almora',
 'UT_Bageshwar',
 'UT_Chamoli',
 'UT_Champawat',
 'UT_Dehradun',
 'UT_Haridwar',
 'UT_Nainital',
 'UT_Pauri Garhwal',
 'UT_Pithoragarh',
 'UT_Rudraprayag',
 'UT_Tehri Garhwal',
 'UT_Udham Singh Nagar',
 'UT_Unknown',
 'UT_Uttarkashi',
 'WB_Alipurduar',
 'WB_Bankura',
 'WB_Birbhum',
 'WB_Cooch Behar',
 'WB_Dakshin Dinajpur',
 'WB_Darjeeling',
 'WB_Hooghly',
 'WB_Howrah',
 'WB_Jalpaiguri',
 'WB_Jhargram',
 'WB_Kalimpong',
 'WB_Kolkata',
 'WB_Malda',
 'WB_Murshidabad',
 'WB_Nadia',
 'WB_North 24 Parganas',
 'WB_Other State',
 'WB_Paschim Bardhaman',
 'WB_Paschim Medinipur',
 'WB_Purba Bardhaman',
 'WB_Purba Medinipur',
 'WB_Purulia',
 'WB_South 24 Parganas',
 'WB_Unknown',
 'WB_Uttar Dinajpur']

In [16]:
# Slicing required information
all_info = df.loc[:,['Date','district_id','Confirmed']]

In [17]:
all_info

             Date           district_id  Confirmed
0      2020-04-26            AN_Unknown         33
1      2020-04-26          AP_Anantapur         53
2      2020-04-26           AP_Chittoor         73
3      2020-04-26      AP_East Godavari         39
4      2020-04-26             AP_Guntur        214
...           ...                   ...        ...
307241 2021-08-14    WB_Purba Bardhaman      40280
307242 2021-08-14    WB_Purba Medinipur      61010
307243 2021-08-14            WB_Purulia      19214
307244 2021-08-14  WB_South 24 Parganas      96779
307245 2021-08-14     WB_Uttar Dinajpur      19536

[307246 rows x 3 columns]

In [18]:
all_info = all_info.sort_values(by=['district_id','Date'], ascending=True)

In [19]:
all_info

             Date        district_id  Confirmed
0      2020-04-26         AN_Unknown         33
408    2020-04-27         AN_Unknown         33
828    2020-04-28         AN_Unknown         33
1256   2020-04-29         AN_Unknown         33
1689   2020-04-30         AN_Unknown         33
...           ...                ...        ...
304613 2021-08-10  WB_Uttar Dinajpur      19498
305271 2021-08-11  WB_Uttar Dinajpur      19513
305929 2021-08-12  WB_Uttar Dinajpur      19519
306587 2021-08-13  WB_Uttar Dinajpur      19528
307245 2021-08-14  WB_Uttar Dinajpur      19536

[307246 rows x 3 columns]

In [20]:
all_info.index = np.arange(0, len(all_info)) # reindexing

In [21]:
all_info

             Date        district_id  Confirmed
0      2020-04-26         AN_Unknown         33
1      2020-04-27         AN_Unknown         33
2      2020-04-28         AN_Unknown         33
3      2020-04-29         AN_Unknown         33
4      2020-04-30         AN_Unknown         33
...           ...                ...        ...
307241 2021-08-10  WB_Uttar Dinajpur      19498
307242 2021-08-11  WB_Uttar Dinajpur      19513
307243 2021-08-12  WB_Uttar Dinajpur      19519
307244 2021-08-13  WB_Uttar Dinajpur      19528
307245 2021-08-14  WB_Uttar Dinajpur      19536

[307246 rows x 3 columns]

In [22]:
# Grouping rows corresponding to one district into one dataframe and then storing all such into one list (master_list)
master_list = []
for i in s_list:
    temp_df  = pd.DataFrame(columns = ['Date','district_id','Confirmed'])
    temp_df = all_info[all_info['district_id'] == i]
    master_list.append([i,temp_df])

In [23]:
# Adding only one extra date 15th March 2020 with zeros into each dataframe
sd = np.datetime64('2020-03-15')
for i in master_list:
    i[1] =  i[1].append({'Date':sd,'district_id':i[0],'Confirmed':0},ignore_index=True)
    i[1] = i[1].sort_values(by=['Date'], ascending=True)

In [24]:
# Time intensive loop
# Core logic for calculation here is: no of cases in a week is = saturday of present week minus previous week's saturday
main_df = pd.DataFrame(columns = ['district_id','Week_id','Confirmed'])
for i in master_list:
    week = 1
    temp_df = pd.DataFrame(columns = ['district_id','Week_id','Confirmed'])
    start_date = np.datetime64(i[1][0:1]['Date'].to_string(index = False))
    end_date = np.datetime64(i[1][-1:]['Date'].to_string(index = False))
    date_list = list(i[1]['Date'])
    confirmed_list = list(i[1]['Confirmed'])
    while (start_date <= end_date): # This loop asumes zero for the dates which are not present, saves our time, need not add all dates
        it2 = start_date + np.timedelta64(6,'D') # This week's Saturday
        it1 = start_date - np.timedelta64(1,'D') # Last week's Saturday
        ind_it1 = 0
        ind_it2 = 0
        for j in range(0,len(date_list)):
            if date_list[j] == it1:
                ind_it1 = j
            if date_list[j] == it2:
                ind_it2 = j
        temp_df = temp_df.append(pd.DataFrame({"district_id": i[0],"Week_id":week,"Confirmed":confirmed_list[ind_it2]-confirmed_list[ind_it1]}, index=[0]))
        week = week + 1
        start_date = start_date + np.timedelta64(7,'D')
    main_df = main_df.append(temp_df)

In [25]:
# Time intensive loop
# Core logic for calculation here is: no of cases in a month is = last day of present month minus last day in previous month
month_main_df = pd.DataFrame(columns = ['district_id','Month_id','Confirmed'])
# List of exact dates to substract
month_list = [['2020-03-14','2020-04-14'],['2020-04-14','2020-05-14'],['2020-05-14','2020-06-14'],
             ['2020-06-14','2020-07-14'],['2020-07-14','2020-08-14'],['2020-08-14','2020-09-14'],
             ['2020-09-14','2020-10-14'],['2020-10-14','2020-11-14'],['2020-11-14','2020-12-14'],
             ['2020-12-14','2021-01-14'],['2021-01-14','2021-02-14'],['2021-02-14','2021-03-14'],
             ['2021-03-14','2021-04-14'],['2021-04-14','2021-05-14'],['2021-05-14','2021-06-14'],
             ['2021-06-14','2021-07-14'],['2021-07-14','2021-08-14'],['2021-08-14','2021-09-14']]
for i in master_list:
    month = 0
    temp_df = pd.DataFrame(columns = ['district_id','Month_id','Confirmed'])
    start_date = np.datetime64('2020-03-14')
    end_date = np.datetime64(i[1][-1:]['Date'].to_string(index = False))
    date_list = list(i[1]['Date'])
    confirmed_list = list(i[1]['Confirmed'])
    while (start_date <= end_date) and (month<17): # Loop assumes zero for missing dates which is what we want 
        it2 = np.datetime64(month_list[month][1])
        it1 = np.datetime64(month_list[month][0])
        ind_it1 = 0
        ind_it2 = 0
        for j in range(0,len(date_list)):
            if date_list[j] == it1:
                ind_it1 = j
            if date_list[j] == it2:
                ind_it2 = j
        temp_df = temp_df.append(pd.DataFrame({"district_id": i[0],"Month_id":month+1,"Confirmed":confirmed_list[ind_it2]-confirmed_list[ind_it1]}, index=[0]))
        month = month + 1
        if month <= 17:
            start_date = np.datetime64(month_list[month][0])
    month_main_df = month_main_df.append(temp_df)

In [37]:
overall_main_df = pd.DataFrame(columns = ['district_id','Month_id','Confirmed'])
new_all_info = all_info.sort_values(by=['Date'], ascending = False)
overall_main_df = new_all_info[new_all_info['Date'] == np.datetime64('2021-08-14')]
overall_main_df = overall_main_df.loc[:,['Date','district_id','Confirmed']]
overall_main_df = overall_main_df.sort_values(by=['district_id'], ascending = True)

In [38]:
overall_main_df

             Date           district_id  Confirmed
475    2021-08-14            AN_Unknown       7548
951    2021-08-14          AP_Anantapur     156771
1427   2021-08-14           AP_Chittoor     234871
1903   2021-08-14      AP_East Godavari     282389
2350   2021-08-14   AP_Foreign Evacuees        434
...           ...                   ...        ...
305371 2021-08-14    WB_Purba Bardhaman      40280
305847 2021-08-14    WB_Purba Medinipur      61010
306292 2021-08-14            WB_Purulia      19214
306768 2021-08-14  WB_South 24 Parganas      96779
307245 2021-08-14     WB_Uttar Dinajpur      19536

[658 rows x 3 columns]

In [39]:
overall_main_df['overallid'] = 1
overall_main_df = overall_main_df[['district_id','overallid','Confirmed']]
overall_main_df.rename(columns = {'district_id':'districtid','Confirmed':'cases'}, inplace = True)

c:\users\siddh\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [42]:
main_df.rename(columns = {'district_id':'districtid','Week_id':'weekid','Confirmed':'cases'}, inplace = True)

In [45]:
month_main_df.rename(columns = {'district_id':'districtid','Month_id':'monthid','Confirmed':'cases'}, inplace = True)

In [47]:
main_df.to_csv (r'cases-week.csv', index = None, header=True)

In [48]:
month_main_df.to_csv (r'cases-month.csv', index = None, header=True)

In [49]:
overall_main_df.to_csv (r'cases-overall.csv', index = None, header=True)